body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: cadetblue;
}


header{
    background-color: #dd2020;
    //height: 10vh;
    width: 100%;
    position: relative;
    top: -0.3em;

    display: grid;
    grid-template-columns: 1.3fr 1fr;
    //justify-content: end;
    justify-items: end;
    align-items: center;
}

header .new-book{
    padding: 0.7em;
    margin-right: 25px;
    border-radius: 25px;
    background-color: #17ef05;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card{
    height: 400px;
    background-color: #a0a0ff;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.1em;
    border: 5px solid rgba(150, 63, 63, 0.89);
    border-radius: 15px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttonContainer button{
    font-size: 1.05em;
    padding: 0.4em;
    border-radius: 10px;

    background-color: red;
}

.buttonContainer button:first-child{
    background-color: #40ff2f;
}

.buttonContainer button:hover{
    background-color: white;
}

#dialogForm{
    border: 3px solid blue;
    border-radius: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    padding: 30px;
}

.radioContainer{
    font-size: 0.95em;
    font-weight: 300;
    padding: 1em 0;
}